xml-schems/src/main/resources/xml-model/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="/jaxb/gen"
        xmlns:userns="/jaxb/gen"
        elementFormDefault="qualified">

    <complexType name="User">
        <sequence>
            <element name="ИД" type="int" />
            <element name="Имя" type="string" />
            <element name="Фамилия" type="string" />
        </sequence>
    </complexType>
</schema>